<table class="table">
    <tbody>
    <tr>
        <td>Description</td>
        <td>{{ product.description }}</td>
    </tr>
    <tr>
        <td>System Requirements</td>
        <td>{{ product.system_requirements }}</td>
    </tr>
    <tr>
        <td>Important Details</td>
        <td>{{ product.important_details }}</td>
    </tr>
    <tr>
        <td>Terms</td>
        <td>{{ product.terms}}</td>
    </tr>
    <tr>
        <td>How It Works</td>
        <td>{{ product.how_it_works}}</td>
    </tr>
    </tbody>
</table>
